<div>
    {% include 'snippets/form_errors.html' %}

    <form method="post" class="my-2 p-3 border rounded" hx-post="/playlists/{{ playlist_id }}/add-to-playlist">
        <div>
            <label for="url">Video URL</label>
            <input type="text" class="form-control" id="url" name="url" value="{% if data %}{{ data['url'] }}{% endif %}">
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{% if data %}{{ data['title'] }}{% endif %}">
        </div>
        <button type="submit" class="btn btn-sm btn-primary mt-2">Add Video</button>
    </form>
</div>