{% extends 'base.html' %}

{% block title %}Video Detail{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Video Detail</h1>

            {% if video %}
                <p>{{ video['id'] }}</p>
                <p>{{ video['title'] }}</p>
            {% endif %}
        </div>

        <div id="yt-video" data-video-id="{{ video['host_id'] }}" data-start-time="{{ start_time }}"></div>
    </div>

    <script>
        const youTubeVideo = document.getElementById('yt-video');

        if (youTubeVideo) {
            const videoId = youTubeVideo.getAttribute('data-video-id');
            const startTime = parseInt(youTubeVideo.getAttribute('data-start-time'));
            let player;
            let isPlaying;
            let currentTime;
            let monitorTimeOut;
            let monitorTimeInterval = 1000;
            let timeSinceLastSaved = 0;
            let timeIntervalForSave = 5000;

            function onYouTubeIframeAPIReady() {
                player = new YT.Player('yt-video', {
                    height: '390',
                    width: '640',
                    videoId,
                    playerVars: {
                        modestbranding: 1,
                        autoplay: 1,
                        playsinline: 1,
                    },
                    events: {
                        onReady: onPlayerReady,
                        onStateChange: onPlayerStateChange
                    }
                });
            }

            function onPlayerReady() {
                player.seekTo(startTime);
            }

            function monitorCurrentPlayback() {
                currentTime = player.getCurrentTime();
                timeSinceLastSaved += monitorTimeInterval;
                if (isPlaying) {
                    monitorTimeOut = setTimeout(monitorCurrentPlayback, monitorTimeInterval);
                }
                if (timeSinceLastSaved > timeIntervalForSave) {
                    storeWatchEvent();
                }
            }

            function onPlayerStateChange(event) {
                if (event.data === YT.PlayerState.PLAYING) {
                    isPlaying = true;
                    monitorCurrentPlayback();
                } else if (event.data === YT.PlayerState.PAUSED) {
                    isPlaying = false;
                    clearTimeout(monitorTimeOut)
                    monitorCurrentPlayback();
                    storeWatchEvent();
                } else if (event.data === YT.PlayerState.ENDED) {
                    isPlaying = false;
                    clearTimeout(monitorTimeOut)
                    monitorCurrentPlayback();
                    storeWatchEvent();
                }
            }

            function storeWatchEvent() {
                const duration = player.getDuration()
                const data = {
                    host_id: videoId,
                    start_time: startTime,
                    end_time: currentTime,
                    duration,
                    complete: (duration * .98) < currentTime
                }
                timeSinceLastSaved = 0;
                const reqOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }
                fetch('/watch-events', reqOptions)
                    .then(res => res.json())
                    .then(data => console.log(data))
                    .catch(err => console.log(err));
            }
        }
    </script>
{% endblock %}